a,p,button,label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-image:url("../picture/fengjianyouxiang.jpg");

}
.container{
    margin-top: 100px;
}
.btn-control{
    margin:30px;
}
.btn-success{
    margin-right:60px ;
}