a,p,button,label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-image:url("../picture/fengjianyouxiang.jpg");
    background-size:cover ;
}
.container{
     margin-top: 5%;
 }

.btn-control{
    margin:10%;
}
.btn-success{
    margin-right:20% ;
}